.site-header {
  position: relative;
  display: block !important;
  padding: 5px 0 45px;
  background-image: url('../../assets/images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

.localization {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;

  select {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 13px;
    color: #aaaaaa;
  }
}

.site-header__sign {
  a {
    color: #aaa;
    font-size: 13px;
  }
}

.menu-btn {
  display: none;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #fffffff0;
  border-radius: 3px;

  i {
    font-size: 20px;
    color: #60be74;
  }
}

.site-header__center {
  label {
    width: 500px;
  }

  input {
    width: 80%;
    outline: none;
    padding: 10px;
    font-size: 13px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0 !important;
  }

  .search-btn-header {
    background-color: #fff;
    border-left: 1px solid #aaaaaa74;
    i {
      color: #60be74;
    }
  }

  .like {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #ffffff90;

    i {
      font-size: 17px;
      color: #fff;
    }
  }
}

.site-header__bottom {
  .nav {
    position: absolute;
    bottom: -28px;
    width: 100%;
    border-radius: 6px;
    max-width: 1210px;
    background-color: #60be74;

    &::before {
      position: absolute;
      display: block;
      top: 1px;
      width: 0;
      height: 0;
      border-right: 25px solid #60be74;
      border-top: 27px solid transparent;
      border-bottom: 27px solid transparent;
      margin-left: -22px;
      content: '';
    }

    &::after {
      position: absolute;
      display: block;
      top: 1px;
      right: 0;
      width: 0;
      height: 0;
      border-left: 25px solid #60be74;
      border-bottom: 27px solid transparent;
      border-top: 27px solid transparent;
      margin-right: -22px;
      content: '';
    }

    ul {
      padding: 18px 0 18px 15px;
    }

    li:nth-child(1) {
      padding: 0 20px 0 0;
      border-right: 1px solid #eee;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }

    li + li {
      padding: 0 20px;
      border-left: 1px solid #eee;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }

    a {
      letter-spacing: 1.5px;
      color: #fff;
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  transition: all 0.3s ease;

  &.open {
    z-index: 9;
    background-color: #1d1d1d5e;
  }
}

.menu__inner {
  position: absolute;
  top: 0;
  z-index: 6;
  width: 100%;
  max-width: 280px;
  height: 100vh;
  padding: 20px 0;
  background-color: #f5f5f5;
  translate: -110%;
  transition: all 0.3s ease;

  &.open {
    translate: 0;
  }

  input {
    font-size: 13px;
    border: 0 !important;
  }

  .search-btn {
    background-color: #fff;
    border-left: 1px solid #aaaaaa74;
    i {
      color: #60be74;
    }
  }

  ul {
    margin-top: 20px;
    border-top: 1px solid #aaa;
  }

  li {
    padding: 12px 17px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
  }

  a {
    letter-spacing: 1.5px;
    color: #60be74;
  }
}

@media screen and (max-width: 1290px) {
  .site-header__bottom {
    max-width: 765px;
    left: calc(50% - 380px);
  }
}

@media screen and (max-width: 835px) {
  .site-header {
    padding: 5px 0 15px;
  }
  
  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .site-header__center {
    align-items: flex-end !important;

    input {
      display: none;
    }
  }

  .site-header__bottom {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .menu__inner {
    max-width: 250px;
  }
}
