.site-header {
  position: relative;
  padding: 5px 0 45px;
  background-image: url('../../assets/images/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.localization {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;

  select {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 13px;
    color: #aaaaaa;
  }
}

.site-header__sign {
  a {
    color: #aaa;
    font-size: 13px;
  }
}

.site-header__center {
  input {
    width: 500px;
    font-size: 13px;
    padding: 10px;
  }

  .cart {
    width: 181px;
    background-color: #f1f1f1;
    font-size: 12px;
    font-weight: 700;
    color: #000;

    &__img {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      padding: 13px 0;
      border-right: 1px solid #aaa;

      img {
        width: 13px;
        height: auto;
      }
    }

    &__count {
      color: #60be74;
    }
  }
}

.site-header__bottom {
  position: absolute;
  bottom: -28px;
  width: 100%;
  max-width: 1210px;

  .nav {
    background-color: #60be74;

    &::before {
      position: absolute;
      width: 0;
      height: 0;
      border-right: 25px solid #60be74;
      border-top: 27px solid transparent;
      border-bottom: 27px solid transparent;
      margin-left: -22px;
      content: '';
    }

    &::after {
      position: absolute;
      right: 0px;
      width: 0;
      height: 0;
      border-left: 25px solid #60be74;
      border-bottom: 27px solid transparent;
      border-top: 27px solid transparent;
      margin-right: -22px;
      content: '';
    }

    ul {
      padding: 18px 15px;
    }

    li:nth-child(1) {
      padding: 0 20px 0 0;
      border-right: 1px solid #eee;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }

    li + li {
      padding: 0 20px;
      border-left: 1px solid #eee;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }

    a {
      letter-spacing: 1.5px;
      color: #fff;
    }
  }
}
